<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinbang.mapper.ShiroRoleRscMapper">
    <select id="getall" resultType="com.jinbang.model.ShiroRoleRsc">
        select * from shiro_role_rsc;
    </select>
    <select id="loadRscidByRid" resultType="java.lang.Integer">
        select rscid from shiro_role_rsc where rid=#{rid};
    </select>
    <select id="loadRidByRscid" resultType="java.lang.Integer">
        select rid from shiro_role_rsc where rscid=#{rscid};
    </select>
</mapper>